<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= obj[0].server_id
        link(rel="stylesheet", href="./css/common.css")
    body
        .left
            - each value,key in server_data
                if(key == obj[0].server_id)
                    a.active(href="/#{key}") #{value}
                else
                    a(href="/#{key}") #{value}
        - for (var i=0;i<obj.length;i++)
            div
                span #{Number(obj[i].price*3000).toFixed(2)}
                span= obj[i].time
        //- include ./common/header
        //- block content
        //- include ./common/footer